<div *ngIf="logIn">
  <h2>Login</h2>
  <form (ngSubmit)="logInButton()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" />
    </div>
    <button>Login</button>
  </form>
</div>
<div *ngIf="signUpForm">
  <h2>Sign up</h2>
  <form id="myForm" (ngSubmit)="signUp()">
    <div>
      <label for="firstName">FirstName :</label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        [(ngModel)]="firstName"
      />
    </div>
    <div>
      <label for="lastName">LastName :</label>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" />
    </div>
    <div>
      <label for="email">Email :</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" />
    </div>
    <div>
      <label for="phNumber">Phone Number :</label>
      <input type="number" id="phNumber" name="phNumber" [(ngModel)]="phone" />
    </div>
    <div>
      <label for="password">Password : </label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
      />
    </div>
    <div>
      <label for="dateOfBirth">Date of Birth :</label>
      <input type="date" id="dateOfBirth" name="dob" [(ngModel)]="dob" />
    </div>
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>
</div>
<div *ngIf="profile">
  <h2>Profile</h2>
  <p>First Name : {{ firstName }}</p>
  <p>Last Name : {{ lastName }}</p>
  <p>Email : {{ email }}</p>
  <p>Phone: {{ phone }}</p>
  <p>Password : {{ password }}</p>
  <p>DOB : {{ dob }}</p>
</div>
